<div class="winCol">
    <app-wide-btn [icon1]="'lunch_dining'" [action]="'Plates'">
      Plates list by category
    </app-wide-btn>
    <app-wide-btn [icon1]="'egg'" [action]="'Ingredients'">
      Ingredients list by category
    </app-wide-btn>
    <app-wide-btn [icon1]="'fastfood'" [action]="'Offers'">
      List of offers and discounts
    </app-wide-btn>
    <app-wide-btn [icon1]="'add'" [action]="'Add product'">
      Create a new plate and add it to a category
    </app-wide-btn>
    <app-wide-btn [icon1]="'add'" [action]="'Add ingredient'">
      Create a new ingredient and add it to a ingredient
    </app-wide-btn>
    <app-wide-btn [icon1]="'add'" [action]="'Add promotion'">
      Combine two or more plates to create a promotion
    </app-wide-btn>
  </div>